<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="20-20 Break"
    Manufacturer="20-20 Break"
    Version="$(var.InstallerVersion)"
    UpgradeCode="F9BC3FA9-0864-4ED2-9074-3D5D2E45939E">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense" LicenseUrl="" />
    </BootstrapperApplication>

    <Chain>
      <ExePackage
        Id="DotNetDesktopRuntime"
        DisplayName=".NET Desktop Runtime"
        SourceFile="$(var.DotNetDesktopRuntimeExePath)"
        Compressed="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        bal:PrereqPackage="yes"
        DetectCondition="0"
        DownloadUrl="https://aka.ms/dotnet/10.0/windowsdesktop-runtime-win-x64.exe"
        InstallArguments="/install /quiet /norestart" />

      <ExePackage
        Id="WindowsAppRuntime"
        DisplayName="Windows App Runtime"
        SourceFile="$(var.WindowsAppRuntimeExePath)"
        Compressed="no"
        PerMachine="yes"
        Permanent="yes"
        Vital="yes"
        bal:PrereqPackage="yes"
        DetectCondition="0"
        DownloadUrl="https://aka.ms/windowsappsdk/2.1/2.1.3/windowsappruntimeinstall-x64.exe"
        InstallArguments="--quiet" />

      <MsiPackage
        Id="BreakReminderMsi"
        SourceFile="$(var.InstallerMsiPath)"
        Compressed="yes"
        Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
