<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="20-20 Break"
    Manufacturer="20-20 Break"
    Version="$(var.InstallerVersion)"
    UpgradeCode="A7A63EFC-65D3-48B2-95F1-2AC64CBF587E"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of 20-20 Break is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="AppIcon.ico" SourceFile="..\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <Launch
      Condition="VersionNT64"
      Message="20-20 Break requires 64-bit Windows." />

    <ui:WixUI Id="WixUI_FeatureTree" />

    <Feature Id="MainFeature" Title="20-20 Break" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ApplicationFilesComponentGroup" />
      <Feature Id="StartMenuShortcutFeature" Title="Start Menu shortcut" Description="Create a Start Menu folder and shortcut." Level="1">
        <ComponentRef Id="StartMenuShortcutComponent" />
      </Feature>
      <Feature Id="DesktopShortcutFeature" Title="Desktop shortcut" Description="Create a Desktop shortcut." Level="1">
        <ComponentRef Id="DesktopShortcutComponent" />
      </Feature>
      <Feature Id="StartupFeature" Title="Start with Windows" Description="Run 20-20 Break automatically when Windows launches." Level="1">
        <ComponentRef Id="StartupComponent" />
      </Feature>
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="20-20 Break" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="20-20 Break" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ApplicationFilesComponentGroup">
      <Files Directory="INSTALLFOLDER" Include="$(var.AppPublishDir)\**">
        <Exclude Files="**\*.pdb" />
        <Exclude Files="**\*.xml" />
      </Files>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcutComponent" Guid="D2D5CCF0-6A70-4E4D-A5C1-5A10E08D0621">
        <Shortcut
          Id="StartMenuShortcut"
          Name="20-20 Break"
          Description="Start 20-20 Break"
          Target="[INSTALLFOLDER]20-20 Break.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon.ico" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\20-20 Break"
          Name="StartMenuShortcutInstalled"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="3F0533D2-1D1C-4B94-92F1-2B79656D9557">
        <Shortcut
          Id="DesktopShortcut"
          Name="20-20 Break"
          Description="Start 20-20 Break"
          Target="[INSTALLFOLDER]20-20 Break.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon.ico" />
        <RegistryValue
          Root="HKCU"
          Key="Software\20-20 Break"
          Name="DesktopShortcutInstalled"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="StartupComponent" Guid="4A825D84-3DA0-4FA6-A637-95E80C0735F7">
        <RegistryValue
          Root="HKCU"
          Key="Software\Microsoft\Windows\CurrentVersion\Run"
          Name="20-20 Break"
          Type="string"
          Value="&quot;[INSTALLFOLDER]20-20 Break.exe&quot;"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
