<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package
    Name="20-20 Break"
    Manufacturer="20-20 Break"
    Version="$(var.InstallerVersion)"
    UpgradeCode="A7A63EFC-65D3-48B2-95F1-2AC64CBF587E"
    Scope="perMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="AppIcon.ico" SourceFile="..\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Launch
      Condition="VersionNT64"
      Message="20-20 Break requires 64-bit Windows." />
    <Launch
      Condition="VersionNT &gt;= 1000"
      Message="20-20 Break requires Windows 10 or newer." />

    <ui:WixUI Id="WixUI_FeatureTree" />

    <Feature Id="MainFeature" Title="20-20 Break" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentRef Id="ApplicationExecutableComponent" />
      <Feature Id="StartMenuShortcutFeature" Title="Start Menu shortcut" Description="Create a Start Menu folder and shortcut." Level="1">
        <ComponentRef Id="StartMenuShortcutComponent" />
      </Feature>
      <Feature Id="DesktopShortcutFeature" Title="Desktop shortcut" Description="Create a Desktop shortcut." Level="1">
        <ComponentRef Id="DesktopShortcutComponent" />
      </Feature>
      <Feature Id="StartupFeature" Title="Start with Windows" Description="Run 20-20 Break automatically when Windows launches." Level="1">
        <ComponentRef Id="StartupComponent" />
      </Feature>
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="20-20 Break" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="20-20 Break" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="ApplicationExecutableComponent" Guid="*">
        <File Id="BreakReminderExe" Source="$(var.AppPublishDir)\20-20 Break.exe" KeyPath="yes" Checksum="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcutComponent" Guid="*">
        <Shortcut
          Id="StartMenuShortcut"
          Name="20-20 Break"
          Description="Start 20-20 Break"
          Target="[INSTALLFOLDER]20-20 Break.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon.ico" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKCU"
          Key="Software\20-20 Break"
          Name="StartMenuShortcutInstalled"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Name="20-20 Break"
          Description="Start 20-20 Break"
          Target="[INSTALLFOLDER]20-20 Break.exe"
          WorkingDirectory="INSTALLFOLDER"
          Icon="AppIcon.ico" />
        <RegistryValue
          Root="HKCU"
          Key="Software\20-20 Break"
          Name="DesktopShortcutInstalled"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="StartupComponent" Guid="*">
        <RegistryValue
          Root="HKLM"
          Key="Software\Microsoft\Windows\CurrentVersion\Run"
          Name="20-20 Break"
          Type="string"
          Value="&quot;[INSTALLFOLDER]20-20 Break.exe&quot;"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
